/* Fonts */
@font-face {
    font-family: 'TTSquaresCondensed-BlackItalic';
    font-display: swap;
    src: url('/fonts/TTSquaresCondensed-BlackItalic/font.ttf');
}
@font-face {
    font-family: 'TTSquaresCondensed-Italic';
    font-display: swap;
    src: url('/fonts/TTSquaresCondensed-Italic/font.ttf');
}
@font-face {
    font-family: 'TTSquaresCondensed-BoldItalic';
    font-display: swap;
    src: url('../fonts/TTSquaresCondensed-BoldItalic/font.ttf');
}
