/* Components */
@import "components/style";

/* Pages */
@import "pages/fg-single/main";

/* */


body {
    font-family: 'Nunito', sans-serif;
    color: #ffffff;

}
.fighters__paginate {
     * {
        background: black !important;
         //color: #c0c0c0 !important;
     }

    a {
        color: white;
        //font-size: 20px;
        background: black !important;
    }
}
