.label-sum {
    background: transparent;
    &:hover {
        color: whitesmoke;
    }
}

.input-sum {
    &:checked + .label-sum {
        background: var(--theme-red-color);
        color: white;
        font-size: 32px;
        }
    & + .label-sum {
        transition: none;
        background: transparent;
        color: var(--theme-red-color);
        font-size: 20px;
    }
}
